<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<!--appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>valuation-app.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="METRICS" class="ch.qos.logback.core.FileAppender">
		<file>metrics.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<logger name="com.acuo" level="debug"/>

	<logger name="com.acuo.metrics" level="DEBUG" additivity="false">
		<appender-ref ref="METRICS"/>
	</logger-->

	<root level="info">
		<appender-ref ref="STDOUT" />
		<!--appender-ref ref="FILE" /-->
	</root>
</configuration>