<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %5p %40.40c:%4L - %m%n</pattern>
        </encoder>
    </appender>
    
    <logger name="com.acuo" level="info" />

    <logger name="com.tracegroup.SYS_DIAG.transformer.PARSE.OK" level="trace"/>

    <root level="warn">
        <appender-ref ref="console" />
    </root>

</configuration>